
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
:root {
  --btn-color: #00F3BB ;
}
*{
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h2{
    font-weight: 100;
    font-size: clamp(36px,2.4vw,48px);
    
}
h1{
    
font-size: 64px;
color: #060A24;
font-weight: 300;
}

.newbtn{
    
    display: inline-flex;
    font-weight: 500;
    font-size: 18px;
    background-color:var(--btn-color);
   
    height: 56px;
    text-decoration: none;
    align-items: center;
    color: #060A24;
    margin-top:56px;
    padding: 10px 25px;
}

.newbtn:hover{
    background: linear-gradient(90deg, rgba(0,243,187,1) 0%, rgba(0,0,255,1) 85%, rgba(0,0,255,1) 100%);
    color: white
}
/* FIN CONFIG */


/* MENU */
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 80px; 
    position: fixed;
    top: 0px;
   background-color: white;
   width: 100%;
   z-index: 1;
}

@media screen and  (max-width:680px) {
    nav{
        position: relative;
        overflow: visible;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        background-color:blue ;
        color: white;
        width: 300px;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 200px;
        padding: 15px 0px;
        transform: translateY(-100%);
     
    }
    .menu-list li a{
        color: white;
    }
    nav ul li{
        padding: 10px 30px;
    }
    .show-menu{
        transform: translateY(0);
    }
    .show-menu-icon{
        filter: invert(1);
    }
}
nav li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}
.menu-list li a {
    color:black;
    text-decoration: none;
}
nav li a:hover{
    color:var(--btn-color);
    text-decoration: line-through;
}
.menu-list a:active{
    text-decoration: line-through;
}
nav #toggle-menu{
    display: none;
}
nav #toggle-menu img{
    width: 100%;
}

@media screen and  (max-width:680px) {
    nav #toggle-menu{
        display: inline;
        width: 30px;
        position: relative;
        right: -20px; 
        
    }

}
#logo{
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 10px;
}


/* Introdución */
#Introduction{
    margin-top: 120px;
    margin-left: 12%;
    
}

#Introduction p{
    box-sizing: border-box;
    max-width: 628px;
    font-size: 16px;
}

#Introduction h1 span{
    text-decoration: line-through;
}

#Introduction h1::after{
    content: '.';
    color: blue;
    font-size: 64px;
}


/*------------ PODCAST -------------------*/

#podcast::before{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0; /* set top, bot, right and left in 0 */
    transform: skewY(-4deg);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%, rgba(0,0,255,1) 100%);
}
#podcast{
    position: relative;
    margin-top: 50px;
    min-height: 1040px;
    padding:4% 3% ;

}
#podcast h2{
   
    font-family: 'IBM Plex Sans';
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-left: 15vw;
    margin-top: 50px;
}

#img-podcast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#img-podcast img{
    padding: 20px 10px;
    overflow: hidden;
 
}

#about-us{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;

}
#about-us h2{
   
    color: #060A24;
    
}
#vertical-info{
  
    margin-top: clamp(-9vw,-7vw,-150px);
    
}

#vertical-info img{
    margin-top: 50px;
    
    width: 90%;
}

#about-us div:last-child{
    margin-top: 6%;
    padding: 0 15px;
    max-width: 480px;
   

}
#about-us div:last-child p{
    margin-top:24px;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    
}

#guest-container{
    margin-top: 30px;
}
#guest-container h2{
    margin-left: 10%;
    
}
@media screen and  (max-width:500px) {
    #guest-container h2{
        margin-left: 15px;
        
    }
}
#guests{
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
    margin-top: 20px;
    
}

#guests div{
    width: 33%;
    flex-grow: 1;

}
@media screen and  (max-width:980px) {
    #guests div{
        width: 50%;
        flex-grow: 1;
    }
}
@media screen and  (max-width:680px) {
    #guests div{
        width: 100%;
        flex-grow: 1;
    }
}
#guests img{
    width: 100%;
}
#areas{
    padding: 3% 6%;

}

#areas h2 {
    font-family: 'IBM Plex Sans';
    
    font-size: 48px;
    margin-left: 50px;

}

#areas-container{
    margin-top: 80px;    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    
}

.area-items {
    width: 250px;
    margin: 20px 2%;
    text-align: center;
}

.area-items h5{
    
    font-size: 24px;
    margin-top: 25px;

}

#news {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 518px;
    box-sizing: border-box;
    justify-content: center;
    color: white;
    font-size: 48px;
    overflow:hidden; 
}
#news h2{
    text-align: center;
}
#news::before{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0; /* set top, bot, right and left in 0 */
    transform-origin: bottom right;
    transform: skewY(-4deg);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%, rgba(0,0,255,1) 100%);
}
footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    margin-left: 20px;
}

footer div{
    display: flex;
}

footer div img{
    width: 30px;
    margin: 0px 10px;
}

@media screen and  (max-width:610px){
    footer{
        flex-direction: column;
        padding: 20px 0px;
        height: 100px;
        
    }
    footer div{
        margin-top: 15px;
        display: flex;
        width: 90%;
        justify-content: space-between;
}
}